name = "ThreadPinning"
uuid = "811555cd-349b-4f26-b7bc-1f208b848042"
authors = ["Carsten Bauer <crstnbr@gmail.com> and contributors"]
version = "0.7.22"

[deps]
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Preferences = "21216c6a-2e73-6563-6e65-726566657250"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StableTasks = "91464d47-22a1-43fe-8b7f-2d57ee82463f"
SysInfo = "90a7ee08-a23f-48b9-9006-0e0e2a9e4608"
ThreadPinningCore = "6f48bc29-05ce-4cc8-baad-4adcba581a18"

[compat]
DelimitedFiles = "1"
DocStringExtensions = "0.9"
Libdl = "1"
LinearAlgebra = "1"
MKL = "0.4, 0.6"
PrecompileTools = "1"
Preferences = "1"
Random = "1"
StableTasks = "0.1.2"
TestItemRunner = "0.2"
julia = "1.10"

[extras]
Logging = "56ddb016-857b-54e1-b83d-db4d58db5568"
MKL = "33e6dc65-8f57-5167-99aa-e5a354878fb2"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestItemRunner = "f8b46487-2199-4994-9208-9a1283c18c0a"

[targets]
test = ["Test", "Random", "TestItemRunner", "Statistics", "MKL", "Logging"]
